* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(20,21,23);
} 

#sidebar{
  background: rgb(26,27,30);
  border-right: .1px solid #2C2E33;
  padding-top: 70px;
}

#side-border{
  border-bottom: .1px solid #2C2E33; 
}

#topbar{
  background: rgb(26,27,30);
  z-index: 1;
  border-bottom: .1px solid #2C2E33;
}

#addcoin-type{
  background: rgb(26,27,30);
  border: .1px solid #2C2E33;
}

#chain,#address,#imageUpload{
  background: rgb(26,27,30);
  border: .1px solid #2C2E33;
}

#table{
  color: white;
  background-color: rgb(20,21,23);
  margin-top: 100px;
  min-width: 1024px;
}
.text{
  background-color: rgb(20,21,23);
  position: relative;
}
#outlet{
  background-color: rgb(20,21,23);
  /* overflow-x: scroll; */
}
.coin_image{
  width: 50px;
  aspect-ratio: 1;
}

#coin-1-row{
  background-color: rgb(20,21,23);
}


